name: build, test, and publish

on:
  workflow_call:
    inputs:
      should-package:
        type: boolean
        default: false
      should-run:
        type: string
        default: 'true'

jobs:
  build-test-publish:
    if: inputs.should-run == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0 # required for MinVer

      - name: setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: |
            src/Directory.Packages.props
            packages/*.nupkg # TODO: remove once we move back to a stable xscgen package

      - name: build solution
        run: dotnet build Spillgebees.Transmodel.slnx --configuration Release

      - name: test projects
        run: dotnet test --solution Spillgebees.Transmodel.slnx --configuration Release --no-build --verbosity normal

      - name: package NuGet packages
        if: inputs.should-package
        run: |
          dotnet pack src/netex/Spillgebees.NeTEx.Models.V1_2/Spillgebees.NeTEx.Models.V1_2.csproj --configuration Release --no-build --output package
          dotnet pack src/netex/Spillgebees.NeTEx.Models.V1_2_2/Spillgebees.NeTEx.Models.V1_2_2.csproj --configuration Release --no-build --output package
          dotnet pack src/netex/Spillgebees.NeTEx.Models.V1_2_3/Spillgebees.NeTEx.Models.V1_2_3.csproj --configuration Release --no-build --output package
          dotnet pack src/netex/Spillgebees.NeTEx.Models.V1_3_0/Spillgebees.NeTEx.Models.V1_3_0.csproj --configuration Release --no-build --output package
          dotnet pack src/netex/Spillgebees.NeTEx.Models.V1_3_1/Spillgebees.NeTEx.Models.V1_3_1.csproj --configuration Release --no-build --output package
          dotnet pack src/netex/Spillgebees.NeTEx.Models/Spillgebees.NeTEx.Models.csproj --configuration Release --no-build --output package
          dotnet pack src/siri/Spillgebees.SIRI.Models.V2_1/Spillgebees.SIRI.Models.V2_1.csproj --configuration Release --no-build --output package
          dotnet pack src/siri/Spillgebees.SIRI.Models.V2_2/Spillgebees.SIRI.Models.V2_2.csproj --configuration Release --no-build --output package
          dotnet pack src/siri/Spillgebees.SIRI.Models/Spillgebees.SIRI.Models.csproj --configuration Release --no-build --output package
          dotnet pack src/generator/Spillgebees.Transmodel.Generator/Spillgebees.Transmodel.Generator.csproj --configuration Release --no-build --output package

      - name: upload artifacts
        if: inputs.should-package
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: artifacts
          if-no-files-found: error
          retention-days: 1
          path: package/*.nupkg
